<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- 指示器 -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <!-- 轮播图片及说明文字 -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <a href="#" class="pc_imgBox" style="background-image: url('images/2-1.png')"></a>
    </div>
    <div class="item">
      <a href="#" class="pc_imgBox" style="background-image: url('images/2-2.png')"></a>
    </div>
    <div class="item">
      <a href="#" class="pc_imgBox" style="background-image: url('images/2-3.png')"></a>
    </div>
  </div>
  <!-- 控制按钮：左右切换 -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
